@font-face {
    font-family: "FixedSys";
        src: url("fixedsys.ttf") format("truetype");
  }

@keyframes zoom-from-top {
    from {
        top: 0px;
        font-size: 0px;
    }
    to {
        top: 100px;
        font-size: 100px;
    }
}

.zoom-from-top {
    animation: "zoom-from-top";
    animation-duration: 5s;
}

@keyframes slide-from-bottom {
    from {
        bottom: -100%;
    }
    to {
        top: 50%
    }
}

body{
    background-color: cornflowerblue;
    font-family: "FixedSys";
}